// ---- Reset ----

*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    list-style-type: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
  
    border-radius: 0;
}
//-webkit-appearance: none;

// ---- Mixin ----



@mixin size($width, $height){
    width: $width;
    height: $height;
    box-sizing: border-box;
}


@mixin border($width, $style, $color, $radius){
    border: {
        width: $width;
        style: $style;
        color: $color;
        radius: $radius;
    }
}


@mixin flex($gap, $direction: row, $justify: space-between, $align: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}


@mixin font($color: white, $family: 'Roboto Regular', $style: normal, $size: 14px, $height: 16px, $weight: 400, $underline: none, $underline-offset: 3px){
    color: $color;

    font: {
        family: $family;
        style: $style;
        size: $size;
        weight: $weight;
    }
    line-height: $height;

    text-decoration: $underline;
    text-underline-offset: $underline-offset;
}

// ---- Variables ----


$font-Manrope-Regular: 'Manrope Regular'; 





// ---- Fonts ----


@font-face {
    font-family: 'Manrope Regular';
    src: url("../fonts/Manrope-VariableFont_wght.ttf")

}
