*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  list-style-type: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: "Manrope Regular";
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
}
._header {
  color: black;
  font-family: "Manrope Regular";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  text-underline-offset: 3px;
}

._main-title {
  color: black;
  font-family: "Manrope Regular";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  text-underline-offset: 3px;
}

._range-values {
  color: black;
  font-family: "Manrope Regular";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  text-underline-offset: 3px;
}

section._range-slider {
  position: relative;
  width: 200px;
  height: 300px;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 64px;
  margin-top: 20px;
}
section._range-slider input[type=range]._range-input {
  pointer-events: none;
  position: absolute;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: #2bff00;
  border: none;
  border-radius: 14px;
  background: #f3f2f1;
  box-shadow: inset 0 1px 0 0 #d0ccc8, inset 0 -1px 0 0 #dbd9d6;
  -webkit-box-shadow: inset 0 1px 0 0 #d0ccc8, inset 0 -1px 0 0 #dbd9d6;
  left: 0;
  top: 50px;
  width: 200px;
  outline: none;
  height: 10px;
  margin: 0;
  padding: 0;
}
section._range-slider input[type=range]._range-input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #2bff00;
  border: 1px solid white;
}
section._range-slider input[type=range]._range-input:first-of-type::-webkit-slider-thumb {
  background-color: #2bff00;
}
section._range-slider input[type=range]._range-input:last-of-type::-webkit-slider-thumb {
  background-color: #ff0000;
}

._input {
  color: black;
  font-family: "Manrope Regular";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  text-underline-offset: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  padding: 4px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  list-style-type: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: "Manrope Regular";
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
}
._page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin: 20px;
}

._input-cintainer {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 14px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  list-style-type: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: "Manrope Regular";
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
}/*# sourceMappingURL=app.css.map */